---
# See https://docs.ansible.com/ansible/latest/dev_guide/collections_galaxy_meta.html

namespace: {{ collection_namespace }}
name: {{ collection_name }}
version: 0.0.0
readme: README.md
authors:
  - {{ author_name }} <{{ author_email }}>

description: |
    {{ description }}
license_file: LICENSE
tags:
  - linux
dependencies: {}

repository: {{ repo_url }}
documentation: {{ mkdocs_site_url }}
homepage: {{ repo_url }}
issues: {{ repo_url }}/issues

build_ignore:
  - .gitignore
