---
# Project information
site_name: Ansible Collection {{ collection_namespace }}.{{ collection_name }}
site_url: {{ mkdocs_site_url }}
site_description: {{ description }}

# Repository
repo_name: {{ collection_name }}
repo_url: {{ repo_url }}

# Theme
theme:
  name: {{ mkdocs_theme }}

# Plugins
plugins:
  - search
