---
- name: Converge
  hosts: all
  gather_facts: false

  tasks:
    - name: Testing role
      ansible.builtin.include_role:
        name: {{ collection_namespace }}.{{ collection_name }}.{{ collection_name }}
