---
dependencies: []

galaxy_info:
  author: {{ author_name }}
  description: {{ description }}
  license: {{ license }}
  min_ansible_version: "2.18"
  platforms:
    - name: Ubuntu
      versions:
        - all
  galaxy_tags:
    - ansible
